div(style='display:flex; flex-direction: column; align-items: center; width: 100%')
    h1(style='color: blue; text-transform: capitalize')  #{title}
    br
    div(style='display:flex;')
        p(style='display: inline') #{min}
        meter(min=min max=max value=nivel)
        p(style='display: inline') #{max}